* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --title-font: "McLaren", cursive;
  --main-font: "Roboto", sans-serif;
  --base-color: #c3a9ff;
}
.App {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  background-image: url("./img/email-pattern.png");
  height: 100vh;
}

/*  Header  */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 15vh;
}

.header__title {
  text-align: center;
  font-family: var(--title-font);
  text-transform: uppercase;
  font-size: 3rem;
}

.main {
  display: flex;
  flex-direction: column;
}

/* search */
.search {
  display: flex;
  justify-content: center;
  margin: 5vh 0;
}
.search__input {
  flex-basis: 70%;
  height: 45px;
  padding: 10px;
  font-size: 1rem;
}

.input {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid darkgray;
  border-radius: 40px;
  transition: 0.3s;
  cursor: pointer;
}

.input:hover,
.input:focus {
  background-color: rgba(255, 255, 255, 1);
}

/* addTask */

.addTask {
  margin: 5vh 0;
  display: flex;
  justify-content: center;
}

.addTask__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.addTask__input {
  flex-basis: 80%;
  height: 45px;
  padding: 10px;
  font-size: 1rem;
  margin-bottom: 10px;
}

.addTask__checkbox-container {
  font-size: 1rem;
  height: 38px;
  margin-left: 5%;
  flex-basis: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.addTast-checkbox {
  cursor: pointer;
}
