* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --title-font: "McLaren", cursive;
  --main-font: "Roboto", sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
}

/*  Header  */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 15vh;
}

.header__title {
  text-align: center;
  font-family: var(--title-font);
  text-transform: uppercase;
  font-size: 3rem;
}
